<% include partials/header.ejs %>

<h1>You Need to Log In To View This Page</h1>

<li><a href="/">Home</a></li>
<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Log In</a></li>

<% include partials/footer.ejs %>